<h1>School Class Form</h1>

<%= form_for @school_class do |f| %>
    <p> New Class title </p>
    <%=  f.text_field :title %>

    <p> New Class Room Number </p>
    <p> <%= f.text_field :room_number %> </p>

    <%= f.submit %>
<% end %>

